/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-teal-500 hover:underline hover:decoration-1;
    /* @apply text-teal-500 hover:text-teal-700 underline; */
  }
  #research a {
    @apply text-slate-50 hover:text-slate-50 hover:underline hover:decoration-1;
    /* @apply text-teal-500 hover:text-teal-700 underline; */
  }

  ul:not([role='list']) {
    @apply list-disc pl-6;
  }

  ol:not([role='list']) {
    @apply list-decimal pl-6;
  }
}
