---
import BaseHead from '~/components/BaseHead.astro'
import BaseStyles from '~/components/BaseStyles.astro'
import Footer from '~/components/Footer.astro'
import Container from '~/components/Container.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '~/config'
---

<!DOCTYPE html>
<html
  lang="en"
  class="h-full scroll-smooth bg-white antialiased [font-feature-settings:'ss01']"
>
  <head>
    <BaseStyles />
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex h-full flex-col">
    <section
      id="twitter"
      aria-label="Latest on Twitter"
      class="pt-18 pb-20 pt-20 md:pt-24"
    >
      <Container className="max-w-[960px]">
        <div class="mb-20 max-w-2xl md:mx-auto md:text-center xl:max-w-none">
          <h2 class=" text-5xl tracking-tight">
            Thank you for your message!
          </h2>
        </div>
        <div class="flex justify-center">
          <a href="/" class="flex">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-6 w-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 19.5L8.25 12l7.5-7.5"></path>
            </svg> go back
          </a>
        </div>
      </Container>
    </section>
    <Footer />
  </body>
</html>
