---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Dr. Henning Hermes. All rights reserved. <a href='/privacy' class='text-slate-800 hover:text-slate-800 hover:decoration-1 hover:underline'>Privacy</a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
