---
import Container from '~/components/Container.astro'
import CheckIcon from '~/components/CheckIcon.astro'
---

<section
  id="introduction"
  aria-label="Introduction"
  class="pt-12 pb-16 sm:pb-20"
>
  <Container className="text-lg tracking-tight text-slate-700">
    <slot />
    <!-- <p class="font-display text-4xl font-bold tracking-tight text-slate-900">
      “Everything Starts as a Square” is a book and video course that
      teaches you a simple method to designing icons that anyone can learn.
    </p> -->
  </Container>
</section>
