---
import Container from '~/components/Container.astro';
import Research from '~/content/research.mdx';
---
<section
  id="research"
  aria-label="Research"
  class="relative bg-teal-500 pb-20 pt-20 md:pt-24 bg-gradient-to-r from-teal-500 to-blue-500"
>
  <Container className="relative">
    <div class="max-w-2xl md:mx-auto md:text-center xl:max-w-none mb-20">
      <h2 class="font-display tracking-tight text-white text-5xl">
        Research
      </h2>
    </div>
    <Research />
  </Container>
</section>
