---
import clsx from 'clsx'

const {className, href, icon:Icon} = Astro.props
---
  <li class={clsx(className, 'flex')}>
    <a
      href={href}
      class="group flex text-sm font-medium text-slate-800 transition hover:text-teal-500 hover:no-underline dark:text-slate-200 dark:hover:text-teal-500"
    >
      <Icon class="h-6 w-6 flex-none fill-slate-500 transition group-hover:fill-teal-500" />
      <span class="ml-4">
        <slot />
      </span>
    </a>
  </li>
